services:
  neo4j:
    image: neo4j
    container_name: neo4j
    restart: unless-stopped

    environment:
      NEO4J_AUTH: ${NEO4J_USER}/${NEO4J_PASSWORD}
      NEO4J_dbms_default__database: ${NEO4J_DB}

      NEO4J_PLUGINS: '["apoc","genai"]'

      NEO4J_dbms_security_procedures_allowlist: 'apoc.*,gds.*,genai.*'
      NEO4J_dbms_security_procedures_unrestricted: 'apoc.cypher.*,apoc.load.*,genai.*'

      NEO4J_apoc_export_file_enabled: 'true'
      NEO4J_apoc_import_file_enabled: 'true'
      NEO4J_server_directories_import: '/var/lib/neo4j/import'

      NEO4J_dbms_memory_heap_initial__size: 3G
      NEO4J_dbms_memory_heap_max__size: 3G

      NEO4J_dbms_memory_pagecache_size: 3G

    ports:
      - 7474:7474
      - 7687:7687

    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
      - ./neo4j/import:/var/lib/neo4j/import

    healthcheck:
      test:
        [
          'CMD-SHELL',
          'wget -qO- http://localhost:7474 > /dev/null 2>&1 || exit 1',
        ]
      interval: 10s
      timeout: 5s
      retries: 30

volumes:
  neo4j_data:
  neo4j_logs:
